
#container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 750px;
}

.row {
    display: flex;
    justify-content: right;
}

button {
    margin: 1px;
    width: 40px;
    height: 50px;
}