
#container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 750px;
}

#display {
    border: 1px solid black;
    margin: 1px;
    text-align: center;
    width: 164px;
    height: 25px;
    font-size: 1.3em;
}

.row {
    display: flex;
    justify-content: right;
}

button {
    margin: 1px;
    width: 40px;
    height: 50px;
}